
.CartaoCorpo{
    position: inherit;
    background-color: lightgray;
    height: 250px;
    margin-bottom: 5%;
    width: 95%;
    margin-left: 2.5%;
    margin-top: 5%;
    box-shadow: 0px 0px 10px 0px gray;
}

.CartaoCabecalho{
    display: block;
    width: 100%;
    background-color: white;
    height: 15%;
    word-wrap:break-word;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: auto;
}

.EtiquetasContainer{
    width: 85%;
    height: 55%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    float: left;
}

.BotaoConfigCartao{
    position: relative;
    left: 5%;
    width: 17px;
    height: 17px;
}

.SatHistoria{
    position: relative;
    margin: 0%;
    padding-left: 3%;
    font-size: small;
    font-weight: 600;
    width: 90%;
}

.CartaoConteudo{
    width: 100%;
    height: 53%;
    display: block;
    background-color: white;
}

.HistoriaContainer{
    padding-top: 3%;
    padding-left: 5%;
    width: 90%;
    height: 60%;
    overflow-y: auto;
}

.HistoriaTexto{
    margin: 0;
    font-size: small;
    white-space: normal;
}

.BotaoAbrir{
    position: relative;
    top: 5%;
    left: 5%;
    bottom: 15%;
    height: 25%;
    display: block;
    float: left;
    color: rgba(0, 243, 243, 0.856);
    border-color: rgba(0, 243, 243, 0.856);
}

:hover .BotaoAbrir{
    border-color: rgba(0, 243, 243, 0.856);
}

.AvatarContainer{
    display: inline-block;
    margin-left: 15%;
    margin-top: 5%;
    height: 30%;
    width: 50%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.Avatar{
    display: inline-block;
    margin-left: 2%;
    height: 25px;
    width: 25px;
}

.CartaoRodape{
    display: block;
    width: 100%;
    background-color: rgba(231, 231, 231, 0.664);
    height: 32%;
}

.PontuacaoInicial{
    position: relative;
    margin: 0;
    padding-left: 2%;
    font-weight: 600;
    font-size: 11px;
    width: 50%;
    display: inline-block;
}

.PontuacaoFinal{
    position: relative;
    margin: 0;
    padding-left: 2%;
    font-size: 11px;
    font-weight: 600;
    width: 45%;
    display: inline-block;
}

.ControleTempoContainer{
    width: 100%;
    height: 40%;
}

.BotaoIniciar{
    position: relative;
    margin-right: 5%;
    width: 33%;
    left: 3%;
    top: 3%;
    height: 95%;
    padding: 0;
    font-size: smaller;
    float: left;
}

.TempoContainer{
    position: relative;
    display: inline-block;
    height: 100%;
    width: 25%;
}

.BotaoFechar{
    float: right;
    position: relative;
    margin-right: 3%;
    width: 33%;
    height: 95%;
    padding: 0;
    font-size: smaller;
}

/*.BarraProgresso{
    position: relative;
    display: block;
    width: 65%;
    margin-left: 5%;
}

.valorInput{
    position: relative;
    display: block;
    margin-left: 5%;
    width: 20%;
    height: 100%;
}*/
.BarraProgresso{
    top: 7%;
    margin-left: 5%;
    position: relative;
    width: 90%;
}